@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-background: #f8f8f6;
  --color-surface: #ffffff;
  --color-text-primary: #1a1a18;
}

[data-theme='dark'] {
  --color-background: #1a1a18;
  --color-surface: #2c2c2a;
  --color-text-primary: #f1efe8;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

html,
html * {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
